img {
  border-radius: 4px;
}

.contents {
  width: 1000px;
  margin: 0 auto;
}

section {
  height: 780px;
}

section div {
  display: inline-block;
}

[class*="wrap-"] {
  width: 450px;
}

section>div>h1 {
  font-size: 60px;
}

section>div p {
  font-size: 22px;
}

section img {
  width: 500px;
  height: 500px;
}

@media (max-width: 767px) {
  .contents {
    width: 400px;
    margin: 0 auto;
  }

  section {
    height: 650px;
    margin-left: 0 !important;
  }

  .section-C {
    margin-bottom: 350px;
  }

  section>div {
    margin: 10px;
    display: block;
  }

  section img {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 768px) {
  section div {
    float: left;
    margin-left: 30px;
  }
}

@media (max-width: 1023px) {
  section {
    margin-left: 50px;
  }

  section img {
    width: 350px;
    height: 350px;
  }

  [class*="-img"] {
    margin-left: 20px;
  }
}