* {
  box-sizing: border-box;
  color: #58595B;
}

p {
  margin: 0;  
}

section {
  margin-right: auto;
  margin-left: auto;
  
  width: 700px;
}

.sec-div {
  margin-right: auto;
  margin-left: auto;
  
  width: 660px;
}

.sec-div-content {
  width: 300px;
  border-radius: 10px;
  
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 50px;
  
  background-color: white;
  text-align: center;
  
  float: left;
}

img {
  border-radius: 10px 10px 0px 0px;
}

.div-food-ex {
  padding: 20px;
}

.sec-p-title {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.sec-p-content {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  section {
    position: relative;
    top: 1200px;
  }
}