/****************/
/* basic setting */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'IM_Hyemin-Bold';
  background-color: rgb(233, 233, 233);
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

/****************/
/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

header>div {
  line-height: 56px;
  height: 60px;
}

header .container-small {
  background-color: rgb(69, 53, 85);
}

header .head-a {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
  padding: 10px 20px 0px 20px;
  width: 100%;

  background-color: rgb(69, 53, 85);
  color: rgb(255, 233, 233);
  font-size: 31px;
  font-family: 'Black Han Sans', sans-serif;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header .head-li a {
  display: block;
  padding: 15px;

  color: #f8e8ff;
  background-color: rgb(36, 36, 36);

  font-size: 24px;
  text-align: center;
}

header .head-li a:hover {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 767px) {
  header .container-small {
    display: flex;
  }

  header .head-btn {
    margin-right: 30px;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgb(69, 53, 85);
    font-size: 28px;
    opacity: 1;
    cursor: pointer;
  }

  header nav .head-ul {
    display: block;
  }

  header .head-btn:hover {
    opacity: 0.5;
  }  
}

@media (min-width: 768px) {
  header nav .head-ul {
    display: flex !important;
  }

  header nav .head-ul li {
    width: 33.4%;
    display: inline-block;
  }

  header .head-btn {
    display: none;
  }
}

/****************/
/* section */
section {
  position: relative;
  top: 350px;
}

@media (min-width: 768px) {
  section {
    top: 165px;
  }
}

/****************/
/* footer */
footer {
  background-color: white;
  height: 200px;
  padding: 0 50px;
}

footer ul {
  padding: 0;
}

footer .footer-inquiry-mail {
  padding-top: 20px;
}

footer .footer-sns-icon li {
  float: left;
}

footer .footer-sns-icon li:first-child {
  margin-right: 20px;
}

footer .footer-sns-icon li:nth-child(2) {
  margin: 0 20px;
}

footer .footer-sns-icon li:last-child {
  margin-left: 20px;
}

footer .footer-github {
  padding-top: 20px;
}

footer .footer-eggplant-icon {
  font-size: 1px;
  color: black;
  padding-top: 15px;
}