/****************/
/* basic setting */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@font-face {
    font-family: 'deardefault';
    src: url('src/fonts/DearDefault.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: deardefault;
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/****************/
/* header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
header>div {
    line-height: 56px;
    height: 60px;
}

header .head-a {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    padding: 10px 20px 0px 20px;
    width: 100%;

    background-color: rgb(69, 53, 85);
    color: rgb(255, 233, 233);
    font-size: 31px;
    font-family: 'Black Han Sans', sans-serif;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header .head-li a {
    display: block;
    padding: 15px;

    color: #f8e8ff;
    background-color: rgb(36, 36, 36);

    font-size: 24px;
    text-align: center;
}

@media (min-width: 768px) {

}

/****************/
/* All section */
section {
    height: 780px;
    position: relative;
    top: 200px;
    
}

section > div {
    margin: 50px;
}

section > div > h1 {
    font-size: 64px;
}



/* section A */


/****************/
/* section B */


/****************/
/* section C */


/****************/
/* footer */
footer  {
    background-color: white;
    position: relative;
    height: 200px;
    padding: 0 50px;
}

footer ul {
    padding: 0;
}

footer .footer-inquiry-mail {
    position: absolute;
    bottom: 120px;
}

footer .footer-address {
    position: absolute;
    bottom: 80px;
}

footer .sns-icon {
    position: absolute;
    bottom: 60px;
}

footer .footer-github {
    position: absolute;
    bottom: 20px;
}

footer .footer-eggplant-icon {
    position: absolute;
    bottom: 0px;

    font-size: 1px;
    color: black;
}